@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
:root {
  --bg-color: #10101a;
  --main-color: #ab0edb;
  --segundo-main-color: #ffffffcc;
  --text-color: #fff;
  --big-font: 5rem;
  --h2-font: 1.9rem;
  --p-font: 1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 24px 14%;
  transition: 0.3s;
}
section {
  padding: 120px 14%;
}
span {
  color: var(--main-color);
}

.logo {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
  transition: 0.5s;
}
#menu-icon {
  font-size: 28px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}


.cta{
	background: #0b0b13;
	width: 100%;
	padding: 150px 0;
	text-align: center;
	margin: 100px auto;
}
.cta h4{
	color: var(--text-color);
	font-size: 1.6rem;
	font-weight: 300;
	margin-bottom: 30px;
}
.cta h2{
	color: var(--main-color);
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 40px;
}


.resume-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, auto));
	grid-gap: 3rem;
	align-items: center;
	margin-top: 4.4rem;
}
.box{
	background: #0b0b13;
	padding: 40px 30px;
	border-radius: 5px;
	cursor: pointer;
	transition: all .40s;
}
.box h6{
	color: #3e4455;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
} 
.box h4{
	color: var(--text-color);
	font-size: 1.3rem;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 13px;
}
.box p{
	font-size: var(--p-font);
	font-weight: 300;
	margin-bottom: 1.2rem;
	line-height: 1.8rem;
	color: var(--segundo-main-color);
}
.box h5{
	font-size: 14px;
	font-weight: 500;
	color: var(--segundo-main-color);
}
.box:hover{
	transform: translateY(-15px);
	box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}

.copyright p{
	text-align: center;
	padding: 30px;
	color: var(--segundo-main-color);
	background: #0b0b13;
	margin-top: 3rem;
	line-height: 1.8rem;
}




.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}
.home-img img {
  max-width: 1;
  width: 600px;
  border-radius: 45px 50px;
  height: auto;
}
.home-text h5 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 20px;
}
.home-text h1 {
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
}
.home-text h6 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.home-text p {
  max-width: 470px;
  font-size: var(--p-font);
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  color: var(--segundo-main-color);
}
.btn {
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  transition: ease-in-out 0.45s;
}
.btn:hover {
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--text-color);
}

.sobre {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
  align-items: center;
}
.about-img img {
  max-width: 100%;
  width: 580px;
  height: auto;
}
.about-text h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6;
  margin: 0 0 30px;
}
.about-text h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: var(--h2-font);
  line-height: 1.2;
  max-width: 470px;
  margin-bottom: 2rem;
}
.about-text p {
  max-width: 570px;
  font-size: var(--p-font);
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
  color: var(--segundo-main-color);
}
.count {
  margin-bottom: 2rem;
}
.about-text .count a {
  color: var(--segundo-main-color);
  margin-right: 20px;
  word-spacing: 5px;
}
.count span {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.main-btn .btn {
  margin-right: 20px;
}

.center {
  text-align: center;
}
.center h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}
.service-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 2.4rem;
}
.row {
  background: transparent;
  padding: 0px 50px;
  border-radius: 3px;
  transition: all 0.4s;
  border: 3px solid rgb(213, 119, 199);
}
.row h1 {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.row h3 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 5%;
  letter-spacing: 6px;
}
.row i {
  color: var(--main-color);
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.row h6 {
  color: var(--2nd-main-color);
  font-size: 18px;
  margin-left: 5%;
  margin-bottom: 5%;
}
.row p {
  font-size: 18px;
  color: var(--2nd-main-color);
  line-height: 30px;
  margin-bottom: 5%;
  margin-left: 5%;
}
.row a {
  margin-bottom: 5%;
  margin-left: 5%;
  text-align: center;
  align-items: center;
  display: flex;
}
/*.row:hover{
	transform: translateY(-15px);
	box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
} */

@media (max-width: 1430px) {
  header{
    padding: 25px 3%;
  }
  section{
    padding: 50px 3%;
  }
  :root{
    --big-font: 3rem;
    --segundo-main-color: 1.2rem;
  }
}

@media (max-width: 1020px) {
  :root{
    --big-font: 3rem;
    --segundo-main-color: 1.2rem;
    --p-font: 0.9rem;
  }
  .home{
    height: 70vh;
  }
}

@media (max-width: 830px) {
  header{
    padding: 18px 3%;
  }
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;  
    display: flex;
    flex-direction: column;
    background: #0b0b13;
    box-shadow: 0px 15px 30px 0px rgba(0 0 0 / 70%);
    text-align: left;
    transition: 0.2s ease;
  }
  .navbar a{
    display: block;
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
  }
  .navbar.active{
    top: 100%;
  }
}
@media (max-width: 795px) {
  .home{
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
    margin-top: 80px;
    height: 100vh;
  }
  .home-text p{
    max-width: 100%;
  }
  .home-img img{
    max-width: 100%;
    width: 490px;
    height: auto;
  }
  .sobre{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-text h2{
    max-width: 100%;
  }
  .about-text p{
    max-width: 100%;
  }
  .about-img{
    order: 2;
  }
}
